label{
    font-weight: bold;
    display: flex;
    text-align: left;
    font-size: 1.2rem;
}

.input-amount {
    width: 60%;
}

.input-duration{
    width: 30%;
}

.input-interest {
    width: 50%;
}

.form-container, .display-container {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.display-container {   
    display: grid; 
}

.display-container h2 {
    color: green;
    text-align: center;
}